<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>
    <header id="header"></header>
    <main>
        <header>
            <h1> 첫번째 글</h1>
        </header>
        <aside>
            <p><span class="nickname">mini</span></p>
            <p><a class="u-url" rel="me" href="mm@mail.com"></a> mm@mail.com </p>
            <p><time datetime="2024-01-01T00:00:00">2024-01-01</time></p>
            <p>#Java</p>
        </aside>
        <select>
            <p>본문<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden>댓글</label>
                    <textarea id="articleComment" placeholder="댓글 쓰기" row="3"></textarea>
                    <button type="submit">쓰기</button>
                </form>
            </div>
        </select>

        <ul>
            <li>
                <div>
                    <time><small>2024-01-01</small></time>
                    <strong>mini</strong>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                        Lorem ipsum dolor sit amet
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <time><small>2024-01-01</small></time>
                    <strong>mini</strong>
                    <p>
                        Lorem ipsum dolor sit amet1, consectetur adipiscing elit.<br>
                        Lorem ipsum dolor sit amet
                    </p>
                </div>
            </li>
        </ul>

        <nav>
            <a class="page-previois" href="#">이전 글</a>
            <a class="page-next" href="#">다음 글</a>
        </nav>

    </main>


    <footer id="footer"></footer>

</body>
</html>